# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Env & local DB
.env
.env.*
db.sqlite3

# Django
staticfiles/
media/

# OS/Editor
.DS_Store
.vscode/
.idea/

# Misc
local_storage/*
!local_storage/.gitkeep

# Build
build